@spacer: 2em;
@moduleHeight: 200px;
@moduleWidth: 340px;
.homepage {
  input,
  button {
    height: @spacer*1.5;
    padding: 0 0 0 @spacer/4;
    vertical-align: middle;
    &[type="text"] {
      min-width: 300px;
      width: 60%;
    }
  }
  button {
    min-width: 10em;
    font-family: Roboto, Helvetica, arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1em 5em;
    // float:right;
    vertical-align: middle;
    background: @cta-color;
    line-height: 0.3em;
    color: @cta-color-text;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    border: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    &:hover {
      background: lighten(@cta-color,5%);
    }
  }
  #search {
    text-align: center;
    padding-bottom: @spacer;
    button {
      float:none;
      margin-left: @spacer;
    }
  }
  .cards {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: space-between;
    margin-top: @spacer;
    .step-container {
      min-width: @moduleWidth;
      min-height: @moduleHeight;
      flex: 1;
      padding: @spacer/2;
      h3 {margin-top:0;}
    }
  }
  .templates li {
    margin: @spacer/2;
    &.Gene:before,
    &.Protein:before {
      content: "Genes";
      padding: 2px 4px;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
      background: @color-Gene;
      border-radius: 2px;
      margin-right: 0.5em;
    }
    &.Protein:before {
      content: "Proteins";
      color: rgba(0,0,0,0.87);
      text-shadow: 1px 1px 1px rgba(255,255,255,0.1);
      background: @color-Protein;
    }
  }
  .bubble div {text-align:center;}
  textarea {
    width: 100%;
  }
}
