.list-chooser {
  .table;
  .table-hover;

  .count {
    text-align:right;
    padding-right:1em;
  }

  .type-Gene {
    background : @color-Gene;
    color:#fff;
  }

  .list-name {
    width:100%;
  }

  .selected, .selected:hover {
    background:@selectedColor;
    color:@selectedColorText;
    td, td.selected {
    box-shadow:4px 4px 4px rgba(0,0,0,0.3);
  }
    .type-Gene {
      background : @selectedColorText;
      color : @selectedColor;
      border-left:solid @selectedColor 3px;
    }
  }
}
