@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,300italic,300,400italic);

// Base Bootstrap
@import "../../bower_components/bootstrap/less/bootstrap";
@import "variables";

// Bootswatch Paper theme
@import "bootswatch";
@import "overrides";

// Homepage:
@import "homepage";

// Tool import:
@import "list-chooser";
@import "stepdash";
@import "search";
@import "summary";
@import "dashboard";
@import "smartbox";


@rgba-primary-0: rgba(211,209,198,1);
/* Main Primary color */
@rgba-primary-1: rgba(249,242,213,1);
@rgba-primary-2: rgba(195,191,174,1);
@rgba-primary-3: rgba(175,170,147,1);
@rgba-primary-4: rgba(160,153,125,1);
@cta-color: #4CAF50;
@cta-color-text: #fff;
@selectedColor: #3F51B5;
@selectedColorText: #fff;

@stripe-color: #f6f6f6;

@default-dark-text-color:rgba(0,0,0,0.87);

//define master colours for popular data types. Try to draw from 500 colours
//here: https://www.google.com/design/spec/style/color.html# to keep the colours
//visually distinct. They should be used ONLY for data type tagging, not general theming
@color-Gene: #8BC34A;
@color-Protein: #FFC107;
@color-Publication: #2196F3;
@border-radius: 2px;
.result-type {
  line-height:1.5em;
  background-color: #ccc;
  color: @default-dark-text-color;
  &.type-Gene {
    background: @color-Gene;
    color: #fff;
  }
  &.type-Publication {
    background: @color-Publication;
  }
  &.type-Protein {
    background: @color-Protein;
  }
}

body {
  background: @rgba-primary-0;
  background: #D9D9D9;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lora', serif;
  font-family: 'Roboto', sans-serif;
}
.sec {
  padding: 20px;
}
.highlight {
  color: #FFDD2E;
}
.cover {
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
.cover-inside {}
.dimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #000;
  // filter: alpha(opacity=50);
  opacity: 0.9;
  opacity: 1;
  z-index: 9999;
  background: #2D2D2D;
  background: white;
}
.dimmer div.message {
  padding: 5px;
  border-radius: 5px;
  color: #bbe9f0;
  position: relative;
  top: 30%;
}
.hide {
  display: none;
}
@spinner-color: rgba(0,0,0,0.1);
@spinner-highlight: rgba(0,0,0,0.5);
.loader {
  margin: auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.7em solid @spinner-color;
  border-right: 0.7em solid @spinner-color;
  border-bottom: 0.7em solid @spinner-color;
  border-left: 0.7em solid @spinner-highlight;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
//'fade', belowm is used to slide in a component from the top.
// We allow it to size from 0 to auto in a newly created element using max-height and animations. Thanks, https://www.christianheilmann.com/2015/08/30/quicky-fading-in-a-newly-created-element-using-css/
// and
//http://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css
@keyframes fade {
  from {
    max-height: 0;
  }
  to {
    max-height: 3000px;
  }
}
.tool-card-container {
  display: flex;
}
.next-steps-title {
  // background: #3C4750;
  float: left;
  color: white;
  color: #bbe9f0;
  padding: 20px;
  font-size: 1.5em;
  font-style: italic;
}
.tool-card {
  &:hover {
    background-color: #868686;
  }
  &:active {
    background: #B7D9F4;
    color: white;
  }
  // background: #3C4750;
  float: left;
  color: white;
  padding: 20px;
  .title {
    text-align: center;
    font-weight: bold;
    color: #bbe9f0;
  }
}
.next-steps {
  max-height: 250px;
  overflow-y: scroll;
  background: #F3F3F3;
  background: #3C4750;
  background: rgba(82, 82, 82, 1);
  padding: 0;
  -webkit-box-shadow: 0 3px 30px 0 rgba(50, 50, 50, 0.67);
  -moz-box-shadow: 0 3px 30px 0 rgba(50, 50, 50, 0.67);
  box-shadow: 0 3px 30px 0 rgba(50, 50, 50, 0.67);
}
.clear-fix {
  clear: both;
}
.next-steps-container {
  width: 100%;
  .next-steps-inner {
    margin: 10px 20px;
    .body {
      padding: 10px;
      min-height: 300px;
    }
  }
}
.step-dashboard {
  background: orange;
}
.step-container {
  box-sizing: border-box;
  margin: 10px 20px;
  .panel;
  .panel-default;
  img {
    max-width: 75%;
  }
  //this resizes images to match the box
  //babycard and growing up are used to transition animations on newly added
  //DOM elements.
  &.babyCard {
    max-height: 10px;
    overflow: hidden;
  }
  &.growingUp {
    max-height: 3000px;
    -webkit-animation: fade 3s;
    animation: fade 3s;
    animation-timing-function: cubic-bezier(0.2, 2.0, 0.2);
  }
  .body {
    .panel-body;
    position: relative;
    padding: 10px;
  }
  .toolbar {
    @toolbarColor: #eee;
    color:  @default-dark-text-color;
    .clearfix;
    background: @toolbarColor;
    border: solid 1px @toolbarColor;
    li {
      a {
        color:  @default-dark-text-color;
      }
      padding: 0 1em;
      min-height: 3em;
      line-height: 3em;
      background: @toolbarColor;
      display: block;
      float: left;
      list-style-type: none;
    }
  }
}
.jh-root,
.jh-type-object,
.jh-type-array,
.jh-key,
.jh-value,
.jh-root tr {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  font-size: 10px;
  background: transparent;
}
.jh-key,
.jh-value {
  margin: 0;
  padding: 0.2em;
}
.jh-empty-collection:before {
  content: '[]';
}
.jh-empty-map:before {
  content: '{}';
}
.jh-empty-set:before {
  content: '#{}';
}
.jh-empty-string:before {
  content: '""';
}
.jh-value {
  border-left: 1px solid #ddd;
}
.jh-type-bool,
.jh-type-number {
  font-weight: bold;
  text-align: center;
  color: #5286BC;
}
.jh-type-string {
  font-style: italic;
  color: #4C7C84;
}
.jh-type-date {
  font-style: italic;
  color: #839C00;
}
.jh-array-key {
  font-style: italic;
  font-size: small;
  text-align: center;
}
.jh-object-key,
.jh-array-key {
  color: #444;
  vertical-align: top;
}
.jh-type-object > tbody > tr:nth-child(odd),
.jh-type-array > tbody > tr:nth-child(odd) {
  background-color: #f5f5f5;
}
.jh-type-object > tbody > tr:nth-child(even),
.jh-type-array > tbody > tr:nth-child(even) {
  background-color: #fff;
}
.jh-type-object,
.jh-type-array {
  width: 100%;
  border-collapse: collapse;
}
.jh-root {
  border: 1px solid #ccc;
  margin: 0.2em;
}
th.jh-key {
  text-align: left;
}
.jh-type-object > tbody > tr,
.jh-type-array > tr {
  border: 1px solid #ddd;
  border-bottom: none;
}
.jh-type-object > tbody > tr:last-child,
.jh-type-array > tbody > tr:last-child {
  border-bottom: 1px solid #ddd;
}
.jh-type-object > tbody > tr:hover,
.jh-type-array > tbody > tr:hover {
  border: 1px solid #F99927;
}
.jh-empty {
  font-style: italic;
  color: #999;
  font-size: small;
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: rgba(187, 233, 240, 1);
  font-weight: bold;
  font-style: italic;
  font-size: 1.7em;
  font-family: 'Lora', serif;
}
#custom-bootstrap-menu.navbar-default {
  font-size: 1em;
  background-color: rgba(51, 51, 51, 1);
  border-bottom-width: 0;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
  color: rgba(181, 179, 179, 1);
  background-color: rgba(51, 51, 51, 1);
  border-top: 3px solid transparent;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
  color: rgba(250, 250, 250, 1);
  background-color: rgba(82, 82, 82, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
  color:  @default-dark-text-color;
  border-top: 3px solid #bbe9f0;
  color: white;
  background-color: rgba(82, 82, 82, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #f7f7f7;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #f7f7f7;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #f7f7f7;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #333333;
}
.whoami {
  text-align: right;
  .name {
    font-size: 1.2em;
    // font-weight: bold;
    padding-left: 8px;
    // display: block;
    color: white;
  }
  .email {
    font-size: 0.9em;
    color: white;
  }
}
//the sign in curser is a text-select cursor by default for some reason.
//users need to know it's a clickable link.
.signin li div {
  padding: 20px 15px;
  &:hover {
    background: #525252;
    cursor: pointer;
  }
}
@spacer: 2em;
// input,
// button {
//   vertical-align: middle;
//   &[type="text"] {
//     height: @spacer*1.5;
//     padding: 0 0 0 @spacer/4;
//     min-width: 300px;
//     width: 60%;
//   }
// }
// button {
//   height: @spacer*1.5;
//   padding: 0 0 0 @spacer/4;
//   min-width: 10em;
//   font-family: Roboto, Helvetica, arial, sans-serif;
//   font-weight: 500;
//   text-transform: uppercase;
//   padding: 1em 5em;
//   float: right;
//   vertical-align: middle;
//   background: @cta-color;
//   line-height: 0.3em;
//   color: @cta-color-text;
//   border-radius: @border-radius;
//   box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
//   border: 0;
//   text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
//   &:hover {
//     background: lighten(@cta-color,5%);
//   }
// }

//IM tables pagination fixes:
@paginationheight : 3em;
ul.pagination {
  margin: 0;
  form {
    margin: -3px 0.4em 0;
    select {
      text-transform: capitalize;
    }
  }
}
.im-table-pagination {
  margin-left: 1em;
}
.im-table-pagination,
.im-page-sizer {
  display: block;
  float: right;
  min-height: @paginationheight;
}
.im-pagination-button,
ul.pagination form {
  float: left;
  display: block;
}
.im-table-summary {
  float: left;
  min-height: @paginationheight;
  line-height: @paginationheight;
}
