.summary-fields {
  dl div {
    &:nth-child(even) {
      background: @stripe-color;
      dd,
      dt {
        float: left;
      }
      dt {
        clear: left;
        margin-right:@spacer/2
      }
    }
  }
}
