@stroke-width: 5px;

@on-color: #72D9FF;
@off-color: #DAE7EC;
@on: #00aeef;

svg.venn {
   circle {
    fill: @off-color;
    stroke-width: 2px;
    stroke: white;
    &.on {
        fill: @on;
    }
    &:hover {
         stroke: #006A92;
    }
 }


    path.overlap {
        stroke-width: 2px;
        stroke: white;
        fill: @off-color;
        &.on {
            fill: @on;
        }
        &:hover {
            stroke: #006A92;
        }
    }
}

.query-operations-container {
    display: flex;
    // align-items: center;
    // border: 1px solid pink;

    .child {
      flex: 0 0 auto;
        // border: 1px solid blue;
    }
}

.tabber {

    input {
      color: white;
    }

    // flex: 0 0 300px;
    color: white;
    padding: 10px;
    // width: 200px;
    // display: flex;
    // flex-direction: column;
    background: #333333;

    .nav-tabs > li > a, .nav-tabs > li > a:focus {
      color: white;
      font-size: 1.2em;
    }
}

.stretchme {
    flex: 1 0;

}


.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    min-width: 500px;
    padding: 20px;
}
